
.circle-timer-clock {
  position: relative;

  width: calc(40vmin);
  height: calc(40vmin);

  margin: auto;

  font-weight: bold;
}

.circle-timer-svg >g:nth-child(1) >circle{
  stroke: #1D4E8A;
}

.circle-timer-svg >g:nth-child(2) {
  stroke: #102A4A;
  stroke-width: 1;
  stroke-linecap: round;
}

.circle-timer-svg >g:nth-child(3) >circle{
  stroke: #703030CF;
  transform-origin: center;
  transform: rotate(-90deg) scale(0.75, -0.75);
}