
.circle-timer {
  position: relative;

  width: calc(40vmin);
  height: calc(40vmin);

  margin: auto;
}

.circle-timer-background {
  position: absolute;
  left: 0px;
  top: 0px;

  width:100%;
  height:100%;
}
.circle-timer-foreground {
  position: absolute;
  transform: rotate(-90deg);

  left: 4px;
  top: 4px;

  width:calc(100% - 8px);
  height:calc(100% - 8px);
}